CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
deps


CMakeSettings.json
out
bin
lib
include
.vs

cmake-build-debug
cmake-build-release
.idea
